@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
body,html,p,a,span,div,td{font-family: 'Roboto Condensed', sans-serif; font-size: 17px;font-weight: 400;}
body{background: #fff;}
body.productcontroller.searchproduct{background: #273A8A;}
.w100pc{width: 100%;}
.cp{cursor: pointer;}
.searchproduct{width: 450px; position: fixed; top: 45%; left: 50%; margin: 0px 0px 0px -225px;}
.allimages img{display: inline-block;width: 250px;margin: 10px 10px 10px 0px; border: 1px solid #ccc; padding: 20px;}
